@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giới thiệu về chúng tôi</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
 
<body>
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        

                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

                        <style>
                            .Dau{
                                text-align: center;
                                margin-bottom: 100px;
                                font-size:30px;
                            }
                        </style>
                        <style>
                            .bt-option {

                                justify-content: center;
                              
                                font-size:15px;
                            }
                        </style>
                        <h2 class="Dau">Giới thiệu về chúng tôi</h2>

                        <div class="bt-option" style="display: flex; align-items: center;">

                            <a href="~/Home">Trang chủ</a>

                            <i class="fas fa-chevron-right" style="margin: 0 10px;"></i>

                            <span>Giới thiệu về chúng tôi</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="aboutus-page-section spad">
        <style>
            .ap-title {
                font-family: Arial;
                font-size: 16px;
                
            }   
                .text {
                    font-family: Arial;
                    font-size: 15px;
                    margin-left: 50px;
                    font-style:inherit;
                    width: 100%;
                   margin: 0 auto;
                }
        </style>
        <div class="container">
            <div class="about-page-text">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ap-title">
                            <h2>Chào mừng bạn đến với Phòng Trọ HUFLIT</h2>
                            <p class="text">
                                Phòng trọ, không chỉ là một không gian nhỏ bé để ngủ và nghỉ, mà còn là nơi mà mọi khía cạnh của cuộc sống bắt đầu từ đó.
                                Đó là nơi mà những đồ vật cá nhân độc đáo của mỗi người - từ những cuốn sách yêu thích, những bức tranh treo tường, cho đến những mảnh kỷ niệm vụn vặt - 
                                tạo nên một bức tranh riêng biệt về con người và cá tính của chủ nhân.
                                Phòng trọ không chỉ là một không gian vật lý, mà còn là nơi gắn kết với những cảm xúc, tâm hồn và suy tư của người ở trong đó.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="about-page-services">
                <style>
                    .api-text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    img {
                        max-width: 100%;
                        height: auto;
                        margin-top: 10px;
                    }
                </style>
                <div class="row">
                   
                    <div class="col-md-4">
                        
                            <div class="api-text">
                                <h3>Không gian thoải mái</h3>
                                <img src="~/hinhanhphong/phongtro10.jpg" />
                            </div>
                        
                    </div>
                    <div class="col-md-4">
                       
                            <div class="api-text">
                                <h3>Phòng Đầy tiện nghi</h3>
                            <img src="~/hinhanhphong/phongtro4.jpg" />
                            </div>
                    
                    </div>
                    <div class="col-md-4">
                       
                            <div class="api-text">
                                <h3>Sạch sẽ thân thiện</h3>
                            <img src="~/hinhanhphong/phongb.jpg" />
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
  
</body>