@model IEnumerable<WebPhongTro.Models.Phong>
@{

    Layout = "_Layout";
}
<section class="search-bar">
    <form asp-action="Index" method="post">
         
        <input type="text" placeholder="search here" name="timkiem">
        <input type="submit" class="btn" value="Tìm kiếm" style="background:Black"> </input>
    </form>
</section>
<section class="movies">
    
    @foreach(var item in Model)
    {
        <div class="movie-card" onclick="window.location.href='/Home/Details/@item.IdPhong'">
            <div class="movie-image">
                <img src="~/images/@item.HinhAnh">
            </div>
            <div class="movie-info">
                <h4>Tên Phòng: @item.TenPhong</h4>
                <h4>Diện Tích: @item.DienTich m<sup>2</sup></h4>
                <h4>Giá Phòng: @string.Format("{0:#,##0}", item.GiaPhong) VNĐ</h4>
                <h4>Trạng Thái: @item.TrangThai</h4>

            </div>
        </div>
    }
</section>

<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>